.vs/
Sitecore.SharedSource.DynamicSitemap/obj/
Sitecore.SharedSource.DynamicSitemap/bin/
*.user
packages/
Sitecore.SharedSource.DynamicSitemap.Tests/obj/
Sitecore.SharedSource.DynamicSitemap.Tests/bin/
Libraries/
Sitecore.SharedSource.DynamicSitemap.ItemsProcessor/obj/
Sitecore.SharedSource.DynamicSitemap.ItemsProcessor/bin/
