<!--
  Unicorn.Configs.Default.config

  This is an example of how to configure a basic Unicorn configuration using your own config patch file.
  Copy this file to use as a basis for your own configuration definitions.

  Enabled configuration definition patches should be present on all environments Unicorn is present on.

  See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.DynamicSitemap" description="Foundation.DynamicSitemap">
          <predicate>
            <include name="$(layer).$(module).Templates" database="master" path="/sitecore/templates/Dynamic Sitemap XML" />
            <include name="$(layer).$(module).Branches" database="master" path="/sitecore/templates/Branches/Dynamic Sitemap XML" />
            <include name="$(layer).$(module).Modules" database="master" path="/sitecore/system/Modules/Dynamic Sitemap XML" />
            <include name="$(layer).$(module).Core.Applications" database="core" path="/sitecore/content/Applications/DynamicSitemapManager" />
            <include name="$(layer).$(module).Core.Layouts" database="core" path="/sitecore/layout/Layouts/Applications/DynamicSitemapManager" />
            <include name="$(layer).$(module).Core.StartMenuLeft" database="core" path="/sitecore/content/Documents and settings/All users/Start menu/Left/Dynamic Sitemap Manager" />
            <include name="$(layer).$(module).Core.StartMenuPrograms" database="core" path="/sitecore/content/Documents and settings/All users/Start menu/Programs/Dynamic Sitemap Manager" />
          </predicate>
          
          <dataProviderConfiguration enableTransparentSync="false" />

          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
          <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
