<!--
  
  Dynamic Sitemap XML configuration patch file
  
-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <events timingLevel="custom">

      <!--
        
        Handler method fired to regenerate sitemap files
        By default it is binded to publish:end event, but it can be any Sitecore even e.g. at end of indexing - indexing:end
      
      -->

      <event name="publish:end">
        <handler type="Sitecore.SharedSource.DynamicSitemap.DynamicSitemapGenerator, Sitecore.SharedSource.DynamicSitemap" method="RegenerateSitemap" />
      </event>

    </events>

    <dynamicSitemap>

      <!-- XMLNS template -->
      <sitemapVariable name="xmlnsTpl" value="http://www.sitemaps.org/schemas/sitemap/0.9" />

      <!-- Configuration main folder -->
      <sitemapVariable name="sitemapConfigurationItemPath" value="/sitecore/system/Modules/Dynamic Sitemap XML/" />

      <!-- Sites configurations folder name -->
      <sitemapVariable name="sitemapConfigurationSitesFolderName" value="Sites" />

      <!-- Dynamic routes folder name -->
      <sitemapVariable name="sitemapConfigurationRoutesFolderName" value="Dynamic Routes" />

      <!-- Change frequencies folder name -->
      <sitemapVariable name="sitemapConfigurationChangeFrequenciesFolderName" value="Change Frequency Definitions" />

      <!-- Priorities folder name -->
      <sitemapVariable name="sitemapConfigurationPrioritiesFolderName" value="Priority Definitions" />

      <!-- Working database -->
      <sitemapVariable name="database" value="web" />

      <!-- Sitemaps output folder -->
      <sitemapVariable name="sitemapConfigurationOutputFolder" value="/sitemaps" />

      <!-- Refresh robots file -->
      <sitemapVariable name="refreshRobotsFile" value="true" />

      <!-- Use sitemaps index file -->
      <sitemapVariable name="useSitemapsIndexFile" value="true" />

      <!-- Indicates production environment -->
      <sitemapVariable name="productionEnvironment" value="false" />

      <!-- Sitecore index to use for retrieving items -->
      <sitemapVariable name="sitecoreIndex" value="sitecore_web_index" />

      <!-- If use Sitecore index instead of Sitecore query -->
      <sitemapVariable name="useSitecoreIndex" value="true" />

    </dynamicSitemap>

  </sitecore>
</configuration>