<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Sitecore.SharedSource.DynamicSitemap.Project.Website" description="Website definition items" dependencies="Project.Serialization" patch:after="configuration[@name='Project.Serialization']">
          <targetDataStore physicalRootPath="C:\Projects\DynamicSitemapXML\src\project\Website\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Sitecore.SharedSource.DynamicSitemap.Project.Website.Templates" database="master" path="/sitecore/templates/Project/Website" />
            <include name="Sitecore.SharedSource.DynamicSitemap.Project.Website.Renderings" database="master" path="/sitecore/layout/renderings/Project/Website" />
          </predicate>
          <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="false" updateSearchIndex="true" maxConcurrency="1" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>